In [0]:
# iterables in python
prime_list = [2, 3, 5, 7, 11]
prime_tuple = (2, 3, 5, 7, 11)
weekdays_dict = {
    'Monday': 1,
    'Tuesday': 2,
    'Wednesday': 3,
    'Thursday': 4,
    'Friday': 5
}
prime_set = {2, 3, 5, 7, 11}

In [2]:
I = iter(prime_list)
next(I)

2

In [3]:
I = iter(prime_tuple)
next(I)

2

In [4]:
I = iter(weekdays_dict)
next(I)

'Monday'

In [5]:
I = iter(weekdays_dict.keys())
next(I)

'Monday'

In [6]:
I = iter(weekdays_dict.values())
next(I)

1

In [7]:
I = iter(weekdays_dict.items())
next(I)

('Monday', 1)

In [8]:
I = iter(prime_set)
next(I)

2

In [9]:
may4th = "Luke, use the Force!"
I = iter(may4th)
next(I)

'L'

In [10]:
iter(5566)

TypeError: ignored

In [11]:
for i in may4th:
    print(i)

L
u
k
e
,

u
s
e

t
h
e

F
o
r
c
e
!

In [12]:
may4th[0]
may4th[len(may4th)-1]

'!'

In [13]:
print(list(range(1, 101)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [14]:
print(list(range(0, 100, 2)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [15]:
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [16]:
x = int(input("請輸入起始的正整數:"))
y = int(input("請輸入終止的正整數:"))
odds = []
for i in range(x, y+1):
    mod = i % 2
    if mod == 1:
        odds.append(i)
print(odds)

請輸入起始的正整數:15
請輸入終止的正整數:50
[15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [17]:
print(len(odds)) # 記數
print(sum(odds)) # 加總

18
576

In [18]:
x = int(input("請輸入一個正整數:"))
divisors = []
for i in range(1, x+1):
    if x % i == 0:
        divisors.append(i)
print(divisors)
n_divisors = len(divisors)
if n_divisors == 2:
    print("{}是質數".format(x))
else:
    print("{}不是質數".format(x))

請輸入一個正整數:4
[1, 2, 4]
4不是質數

In [20]:
x = int(input("請輸入一個正整數:"))
divisors = []
for i in range(1, x+1):
    if x % i == 0:
        divisors.append(i)
print(divisors)

請輸入一個正整數:2
[1, 2]

In [19]:
# random 產生 1 個隨機數
import random

random.randint(1, 1000)
# random 產生 100 個隨機數
random_integers = []
for i in range(100):
    rand_int = random.randint(1, 1000)
    random_integers.append(rand_int)
print(random_integers)
print(len(random_integers))
# 找出第一大與第一小的數字
print(max(random_integers))
print(min(random_integers))
# 找出第二大與第二小的數字
rand_int_unique = set(random_integers)
rand_int_unique_list = list(rand_int_unique)
print(rand_int_unique_list)
rand_int_unique_list.sort()
print(rand_int_unique_list[1])  # second min
print(rand_int_unique_list[-2]) # secomd max

[646, 798, 837, 300, 471, 500, 454, 894, 756, 60, 845, 102, 483, 280, 917, 100, 30, 523, 31, 812, 26, 313, 158, 172, 490, 767, 523, 284, 58, 594, 122, 524, 25, 925, 916, 128, 261, 884, 230, 329, 851, 641, 370, 776, 210, 181, 76, 356, 680, 27, 752, 567, 912, 688, 15, 911, 54, 224, 61, 488, 802, 878, 148, 755, 505, 740, 394, 200, 241, 829, 850, 850, 267, 575, 168, 706, 745, 566, 823, 61, 563, 5, 102, 572, 9, 121, 364, 915, 652, 360, 600, 591, 94, 539, 429, 227, 628, 85, 882, 606]
100
925
5
[5, 9, 523, 524, 15, 25, 26, 27, 539, 30, 31, 563, 54, 567, 566, 58, 60, 61, 572, 575, 76, 591, 594, 85, 600, 94, 606, 100, 102, 628, 121, 122, 128, 641, 646, 652, 148, 158, 680, 168, 172, 688, 181, 706, 200, 210, 224, 227, 740, 230, 745, 752, 241, 755, 756, 767, 261, 776, 267, 280, 284, 798, 802, 300, 812, 823, 313, 829, 837, 329, 845, 850, 851, 356, 360, 364, 878, 370, 882, 884, 894, 394, 911, 912, 915, 916, 917, 925, 429, 454, 471, 483, 488, 490, 500, 505]
9
917

In [22]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
squared = []
for i in range(10):
    squared.append(i**2)
print(squared)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
squared = [i**2 for i in range(10)]
print(squared)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
odds_squared = []
for i in range(10):
    if i % 2 == 1:
        odds_squared.append(i**2)
print(odds_squared)

[1, 9, 25, 49, 81]

In [25]:
odds_squared = [i**2 for i in range(10) if i % 2 == 1]
print(odds_squared)

[1, 9, 25, 49, 81]

In [26]:
random_integers = [random.randint(1, 100) for i in range(20)]
is_odd_ints = []
for i in random_integers:
    if i % 2 == 1:
        is_odd_ints.append(True)
    else:
        is_odd_ints.append(False)
print(random_integers)
print(is_odd_ints)

[8, 83, 37, 72, 90, 49, 22, 52, 72, 50, 16, 46, 28, 83, 3, 90, 37, 46, 4, 96]
[False, True, True, False, False, True, False, False, False, False, False, False, False, True, True, False, True, False, False, False]

In [28]:
random_integers = [random.randint(1, 100) for i in range(20)]
is_odd_ints = [True if i % 2 == 1 else False for i in random_integers]
print(random_integers)
print(is_odd_ints)

[74, 85, 24, 19, 91, 17, 21, 59, 86, 61, 69, 92, 10, 71, 21, 13, 7, 11, 55, 31]
[False, True, False, True, True, True, True, True, False, True, True, False, False, True, True, True, True, True, True, True]

In [29]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
for i, wd in enumerate(weekdays):
    print("{}:星期{}".format(wd, i+1))

Monday:星期1
Tuesday:星期2
Wednesday:星期3
Thursday:星期4
Friday:星期5

In [27]:
avengers = ["The Avengers", "Avengers: Age of Ultron", "Avengers: Infinity War", "Avengers: Endgame"]
for idx, movie in enumerate(avengers):
    print("第 {} 部上映的復仇者聯盟電影:{}".format(idx+1, movie))

第 1 部上映的復仇者聯盟電影:The Avengers
第 2 部上映的復仇者聯盟電影:Avengers: Age of Ultron
第 3 部上映的復仇者聯盟電影:Avengers: Infinity War
第 4 部上映的復仇者聯盟電影:Avengers: Endgame

In [30]:
years = [2012, 2015, 2018, 2019]
for year, movie in zip(years, avengers):
    print("{}上映的年份是{}".format(movie, year))

The Avengers上映的年份是2012
Avengers: Age of Ultron上映的年份是2015
Avengers: Infinity War上映的年份是2018
Avengers: Endgame上映的年份是2019